<section class="section">
   <div class="container">
      <div class="columns is-desktop is-justify-content-center">
         <div class="column is-8-desktop">
            <div class="p-6 shadow rounded content">
                <h2 class="section-title">Search Dragons</h2>
                <form method="POST" action="/dragons/search">
                    <div class="columns is-multiline">
                        <div class="form-group column is-12">
                            <label for="category">Search By</label>
                            <select id="category" class="input custom-select" name="category" required>
                                <option selected disabled>Choose Category</option>
                                <option value="name">Name</option>
                                <option value="type">Type</option>
                                <option value="active">Active</option>
                                <option value="first_flight">First Flight</option>
                                <option value="crew_capacity">Crew Capacity</option>
                                <option value="orbit_duration_yr">Orbit Duration</option>
                                <option value="id">ID</option>
                            </select>
                        </div>
                        <div class="form-group column is-6-desktop">
                            <label for="item">Search For</label>
                            <input type="text" class="input" id="item" name="item" placeholder="Search Term"
                           required>
                        </div>
                        <div class="column is-12">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>